<header class="header" role="banner">
    <div class="header__inner container">
        <a class="brand" href="/">
        <div class="header__left">
            Matt O’Leary | Product Designer
        </div>
        <div class="header__right">
            {% include "navigation.njk" %}
        </a>
        </div>
    </div>
</header>