---
layout: base
permalink: /landing/
<!-- eleventyNavigation:
  key: File Sharing Web -->
---
<div class="container">

<a href="/" class="arrows">
<div class="arrow">HOME</a> /</div>

<h2>Landing Experience Refresh</h2>

<h4>Role: Overall flow, UI design, Research, Usability studies</h4>
<img class="port" src="/assets/images/welcome1.jpg" alt="updated landing pages">
<p>As a designer and student of the web, I am aware of the importance of the first-time experience, especially on a SAAS application.</p>
<h4>New look</h4>
<p>In addition to updating the visual look and feel I switched the main landing page to show things that a user can do as soon as they land. Default capabilities/apps are shown as tiles on the right, and to this I added tangible quick actions (aka Top Tasks or jobs-that-can-be-done) on the left side in order to connect the applications with actions that bring immediate, tangible value to their org. To determine which actions to show came from following the process Gerry McGovern invented and describes in his book <em>Top Tasks</em>.</p>
<p>I also reduced the emphasis on the additional services an org can try and buy. There still exists a way to explore additional SAAS apps/capabilities on that page but it is more subtle (at the bottom of the page) and leads to a new page that is clearly distinct from the main flow.</p>
<p><img class="port" src="/assets/images/welcome2.png" alt="updated landing pages"></p>
<p>For contrast, in the previous landing experience the very first view after sign up was a page essentially trying to offer more services instead of showing what a user can actually do <em>right now</em>.</p>
<p><img class="port" src="/assets/images/previous-lp.png" alt="updated landing pages"></p>
<p>Landing pages will continue to evolve and improve but the feedback on these changes so far have been positive. From a metrics perspective, people are spending less time on landing which in this case indicates success, ie they are finding what they are looking for and moving to that context rather than being stuck or lost on next steps.</p>

<div class="bottom-nav"><a href="/">Home</a> &nbsp;&nbsp;
 |&nbsp;&nbsp;  <a href="/openbanking/">Next project {% icon "arrow-right" %}</a>
</div>