---
layout: base
permalink: /mobile/
<!-- eleventyNavigation:
  key: File Sharing Web -->
---
<div class="container">

<a href="/" class="arrows">
<div class="arrow">HOME</a> /</div>

<h2>Syncplicity Mobile</h2>

<h4>Role: Overall flow, UI design, Research</h4>
<img class="port2" src="/assets/images/mobile-design-big.jpg">
<p>A large number of Syncplicity customers access their enterprise content via the native mobile app. The Syncplicity mobile apps are in transition to matching the branding of Axway and the other Syncplicity clients like desktop and web. This design is an in-progress concept showing new mobile branding (Android phone in this case). There are additional changes intended to increase usability (moving primary actions to the bottom for example) and decrease training while not making such dramatic changes as to throw off exisiting users.

Here's the <a href="https://xd.adobe.com/view/433cb756-45a8-43aa-9032-e241da1d9bd5-166f/?fullscreen&hints=off">clickable prototype</a></p>


<div class="bottom-nav"><a href="/">Home</a> &nbsp;&nbsp;
 |&nbsp;&nbsp;  <a href="/fastpencil/">Next project {% icon "arrow-right" %}</a>
</div>