// ---------------------------------
// MASTER STYLESHEET INDEX
// ---------------------------------

//--------------------
// UTILITIES
//--------------------

@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

//--------------------
// BASE MODULES
// partials with global scope
//--------------------

@import 'base/fonts';
@import 'base/normalize';
@import 'base/reboot';
@import 'base/layout';
@import 'base/typography';
@import 'base/focus';
@import 'base/utilities';
@import 'base/screenreader';
@import 'base/animation';

//--------------------
// COMPONENTS
// partials with local scope to a component
//--------------------

@import 'components/header';
@import 'components/nav';
@import 'components/footer';
@import 'components/icon';

.smol-css-grid {
    --min: 25ch;
    --gap: 2rem;
  
    display: grid;
    grid-gap: var(--gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--min), 1fr));
    margin-bottom: 2rem;
  }

  .card {
    // box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    border: 2px solid rgb(241, 237, 237);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    padding-bottom: 1rem;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    // box-shadow: 0 0 12px 0 rgba(0,0,0,0.2);
    border: 2px solid dodgerblue
  }

  .card img {
    border-radius: 3px 3px 0 0;
  }

  .card a {
    color: #333;
    text-decoration: none;
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  a {
      color: dodgerblue;
  }

  .brand {
    text-decoration: none; /* no underline */
    color: #333;
    font-weight: 700;
  }

  .nav a {
      text-decoration: none;
  }

  .nav a:hover {
    text-decoration: underline;
}

  .margins {margin:2rem 0 2rem 0}

  .nav__item--active a {
    color: #333;
}

  .nav__item--active {
    font-weight: 700;
  }


  .nav__item--active a:hover {
    text-decoration: none;
}


  @font-face {
    font-family: 'CircularStd-Medium';
    src: url('./assets/fonts/CircularStd-Medium.woff2') format('woff2'),
         url('./assets/fonts/CircularStd-Medium.woff') format('woff'),
         url('./assets/fonts/CircularStd-Medium.ttf')  format('truetype');
  }
  
  h1 {
    font-family: 'CircularStd-Medium', sans-serif;
    font-weight: 600;
  }

  .view {
    margin-top: .5rem;
    color: dodgerblue;
  }

  .view:hover {
    text-decoration: underline;
  }

  .left {
    float: left;
  }

  .profile {
    float: left;
    max-width: 12rem;
  }

  .arrows {
    text-decoration: none;
    margin-bottom: 22px;
  }

  .port {
    max-width: 100%;
    margin: 2rem 0 2rem 0;
    box-shadow: 0 0 4px 4px #eee;  }

    .blockyquote {
      margin-top: 1rem;
      display: block;
      padding-block-start: 1em;
      padding-block-end: 1em;
      padding-inline-start: 40px;
      padding-inline-end: 40px;
      font-style: italic;
      background: #c2e0f3;
  }

  .blockyquote li {
    list-style: square;
  }

  

  .bottom-nav {
    margin: 3rem 0 3rem 0;
  }

  .bottom-nav a {
text-decoration: none;  }

.bottom-nav a:hover {
  text-decoration: underline;  }

  .bullet ul {

    list-style: square;

  }


  .port {
    max-width: 100%;
    margin: 2rem 0 2rem 0;
    box-shadow: 0 0 4px 4px #eee;
}

  .port2 {
    max-width: 100%;
    margin: 2rem 0 2rem 0;
  }

  p {
    padding-bottom: .25rem;
    }